<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.16.204221202" targetFramework="net46" />
  <package id="Microsoft.TeamFoundationServer.Client" version="14.83.2" targetFramework="net46" />
  <package id="Microsoft.TeamFoundationServer.ExtendedClient" version="14.83.2" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Services.Client" version="14.83.2" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Services.InteractiveClient" version="14.83.2" targetFramework="net46" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.7.0.0" targetFramework="net46" />
  <package id="Moq" version="4.2.1408.0717" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net46" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.0" targetFramework="net46" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net45" />
  <package id="WindowsAzure.ServiceBus" version="2.5.1.0" targetFramework="net46" />
  <package id="xunit" version="2.1.0-rc1-build3168" targetFramework="net46" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net46" />
  <package id="xunit.assert" version="2.1.0-rc1-build3168" targetFramework="net46" />
  <package id="xunit.core" version="2.1.0-rc1-build3168" targetFramework="net46" />
  <package id="xunit.extensibility.core" version="2.1.0-rc1-build3168" targetFramework="net46" />
  <package id="xunit.extensibility.execution" version="2.1.0-rc1-build3168" targetFramework="net46" />
  <package id="xunit.runner.console" version="2.1.0-rc1-build3168" targetFramework="net46" />
  <package id="xunit.runner.reporters" version="2.1.0-rc1-build3168" targetFramework="net46" />
  <package id="xunit.runner.utility" version="2.1.0-rc1-build3168" targetFramework="net46" />
  <package id="xunit.runner.visualstudio" version="2.1.0-rc1-build1124" targetFramework="net46" />
</packages>