<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  
  <Product Id="*" Name="TestCase Automator" Language="1033" Version="1.0.0.0" Manufacturer="Matt Hamilton" UpgradeCode="E5EA6B88-BC93-445D-AA6D-C52FA4B81785">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED"/>
		
    <Condition Message="This application requires .NET Framework v4.6. Please install the .NET Framework then run this installer again.">
      Installed OR WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED
    </Condition>

    <Feature Id="ProductFeature" Title="TestCaseAutomator.Setup" Level="1">
      <ComponentGroupRef Id="ApplicationComponents" />
      <ComponentGroupRef Id="CopyrightFiles" />
      <ComponentGroupRef Id="Plugins" />
    </Feature>
  </Product>

  <Fragment>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="TestCase Automator">
          <Directory Id="PluginDir" Name="Plugins">
            <Directory Id="xUnitPluginDir" Name="xUnit"/>
            <Directory Id="NUnitPluginDir" Name="NUnit"/>
          </Directory>
        </Directory>
      </Directory>
    
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="TestCase Automator"/>
      </Directory>
    </Directory>
  
  </Fragment>

  <Fragment>
    
    <ComponentGroup Id="ApplicationComponents" Directory="INSTALLDIR">
      
      <Component Id="ApplicationExecutable" Guid="90042EF7-F545-4780-A096-95F1F0BF000B">
        <File Id="TestCaseAutomatorExe" Name="$(var.TestCaseAutomator.TargetFileName)" Source="$(var.TestCaseAutomator.TargetPath)" KeyPath="yes">
          <Shortcut Id="StartMenuMainExecutable" Directory="ProgramMenuDir" Name="TestCase Automator" 
                    WorkingDirectory='INSTALLDIR' Advertise="yes"/>
        </File>
        <RemoveFile Id="DeleteShortCut" Directory="ProgramMenuDir" Name="TestCase Automator" On="uninstall"/>
        <RemoveFolder Id="DeleteShortcutDir" Directory="ProgramMenuDir" On="uninstall"/>
      </Component>
      
      <Component Id="ApplicationConfig" Guid="0DB2DC7A-1A76-4308-9132-51A5BF99F624">
        <File Id="TestCaseAutomatorConfig" Name="$(var.TestCaseAutomator.TargetFileName).config" Source="$(var.TestCaseAutomator.TargetPath).config" KeyPath="yes"/>
      </Component>

      <Component Id="ApplicationManifest" Guid="7C70C222-5A4C-4598-96FD-8134C4E85F01">
        <File Id="TestCaseAutomatorManifest" Name="$(var.TestCaseAutomator.TargetFileName).manifest" Source="$(var.TestCaseAutomator.TargetDir)$(var.TestCaseAutomator.TargetName).vshost.exe.manifest" KeyPath="yes"/>
      </Component>
      
      <Component Id="TeamFoundationLib" Guid="552220F4-33BD-40C4-9C86-5317A4586DCE">
        <File Id="TeamFoundationDll" Name="$(var.TestCaseAutomator.TeamFoundation.TargetFileName)" Source="$(var.TestCaseAutomator.TeamFoundation.TargetPath)" KeyPath="yes"/>
      </Component>
      
      <Component Id="AutomationProviderLib" Guid="6ECFA416-0350-49EE-84B7-D2B89E45F72D">
        <File Id="AutomationProviderDll" Name="$(var.TestCaseAutomator.AutomationProviders.TargetFileName)" Source="$(var.TestCaseAutomator.AutomationProviders.TargetPath)" KeyPath="yes"/>
      </Component>
      
      <Component Id="AutomationProviderAbstractionsLib" Guid="E03C57AE-F94B-48E1-A4CD-2B673EA6B32B">
        <File Id="AutomationProviderAbstractionsDll" Name="$(var.TestCaseAutomator.AutomationProviders.Abstractions.TargetFileName)" Source="$(var.TestCaseAutomator.AutomationProviders.Abstractions.TargetPath)" KeyPath="yes"/>
      </Component>
      
      <Component Id="SharpEssentialsLib" Guid="E33A482C-18CB-42B9-9B84-E6E68FB24066">
        <File Id="SharpEssentialsDll" Name="$(var.SharpEssentials.TargetFileName)" Source="$(var.SharpEssentials.TargetPath)" KeyPath="yes"/>
      </Component>

      <Component Id="SharpEssentialsControlsLib" Guid="3FE6E2E0-1ADA-4C59-8731-9F9FAEA2F774">
        <File Id="SharpEssentialsControlsDll" Name="$(var.SharpEssentials.Controls.TargetFileName)" Source="$(var.SharpEssentials.Controls.TargetPath)" KeyPath="yes"/>
      </Component>
    
      <Component Id="AutofacLib" Guid="3D104838-DD89-4A85-8160-9A122EA7AEFE">
        <File Id="AutofacDll" Name="Autofac.dll" Source="$(var.TestCaseAutomator.TargetDir)Autofac.dll" KeyPath="yes"/>
      </Component>

      <Component Id="InteractivityLib" Guid="817BFE22-FBB6-4618-AC4D-499499F09480">
        <File Id="WindowsInteractivityDll" Name="System.Windows.Interactivity.dll" Source="$(var.TestCaseAutomator.TargetDir)System.Windows.Interactivity.dll" KeyPath="yes"/>
        <File Id="ExpressionInteractionsDll" Name="Microsoft.Expression.Interactions.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.Expression.Interactions.dll"/>
      </Component>

      <Component Id="TfsClientLibs" Guid="E45A2E52-DB2B-4482-B136-A619666E0691">
        <File Name="Microsoft.IdentityModel.Clients.ActiveDirectory.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.IdentityModel.Clients.ActiveDirectory.dll"/>
        <File Name="Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms.dll"/>
        <File Name="Microsoft.ServiceBus.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.ServiceBus.dll"/>
        <File Name="Microsoft.TeamFoundation.Build.Client.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.Build.Client.dll"/>
        <File Name="Microsoft.TeamFoundation.Build.Common.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.Build.Common.dll"/>
        <File Name="Microsoft.TeamFoundation.Build2.WebApi.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.Build2.WebApi.dll"/>
        <File Name="Microsoft.TeamFoundation.Chat.WebApi.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.Chat.WebApi.dll"/>
        <File Name="Microsoft.TeamFoundation.Client.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.Client.dll"/>
        <File Name="Microsoft.TeamFoundation.Common.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.Common.dll" KeyPath="yes"/>
        <File Name="Microsoft.TeamFoundation.Core.WebApi.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.Core.WebApi.dll"/>
        <File Name="Microsoft.TeamFoundation.DeleteTeamProject.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.DeleteTeamProject.dll"/>
        <File Name="Microsoft.TeamFoundation.Diff.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.Diff.dll"/>
        <File Name="Microsoft.TeamFoundation.Discussion.Client.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.Discussion.Client.dll"/>
        <File Name="Microsoft.TeamFoundation.Discussion.WebApi.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.Discussion.WebApi.dll"/>
        <File Name="Microsoft.TeamFoundation.Git.Client.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.Git.Client.dll"/>
        <File Name="Microsoft.TeamFoundation.Lab.Client.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.Lab.Client.dll"/>
        <File Name="Microsoft.TeamFoundation.Lab.Common.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.Lab.Common.dll"/>
        <File Name="Microsoft.TeamFoundation.Lab.TestIntegration.Client.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.Lab.TestIntegration.Client.dll"/>
        <File Name="Microsoft.TeamFoundation.Lab.WorkflowIntegration.Client.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.Lab.WorkflowIntegration.Client.dll"/>
        <File Name="Microsoft.TeamFoundation.Policy.WebApi.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.Policy.WebApi.dll"/>
        <File Name="Microsoft.TeamFoundation.ProjectManagement.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.ProjectManagement.dll"/>
        <File Name="Microsoft.TeamFoundation.SharePointReporting.Integration.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.SharePointReporting.Integration.dll"/>
        <File Name="Microsoft.TeamFoundation.SourceControl.WebApi.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.SourceControl.WebApi.dll"/>
        <File Name="Microsoft.TeamFoundation.Test.WebApi.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.Test.WebApi.dll"/>
        <File Name="Microsoft.TeamFoundation.TestImpact.Client.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.TestImpact.Client.dll"/>
        <File Name="Microsoft.TeamFoundation.TestManagement.Client.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.TestManagement.Client.dll"/>
        <File Name="Microsoft.TeamFoundation.TestManagement.Common.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.TestManagement.Common.dll"/>
        <File Name="Microsoft.TeamFoundation.TestManagement.WebApi.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.TestManagement.WebApi.dll"/>
        <File Name="Microsoft.TeamFoundation.VersionControl.Client.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.VersionControl.Client.dll"/>
        <File Name="Microsoft.TeamFoundation.VersionControl.Common.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.VersionControl.Common.dll"/>
        <File Name="Microsoft.TeamFoundation.VersionControl.Common.Integration.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.VersionControl.Common.Integration.dll"/>
        <File Name="Microsoft.TeamFoundation.Work.WebApi.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.Work.WebApi.dll"/>
        <File Name="Microsoft.TeamFoundation.WorkItemTracking.Client.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.WorkItemTracking.Client.dll"/>
        <File Name="Microsoft.TeamFoundation.WorkItemTracking.Client.DataStoreLoader.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.WorkItemTracking.Client.DataStoreLoader.dll"/>
        <File Name="Microsoft.TeamFoundation.WorkItemTracking.Client.QueryLanguage.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.WorkItemTracking.Client.QueryLanguage.dll"/>
        <File Name="Microsoft.TeamFoundation.WorkItemTracking.Common.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.WorkItemTracking.Common.dll"/>
        <File Name="Microsoft.TeamFoundation.WorkItemTracking.Proxy.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.WorkItemTracking.Proxy.dll"/>
        <File Name="Microsoft.TeamFoundation.WorkItemTracking.WebApi.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.TeamFoundation.WorkItemTracking.WebApi.dll"/>
        <File Name="Microsoft.VisualStudio.Services.Client.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.VisualStudio.Services.Client.dll"/>
        <File Name="Microsoft.VisualStudio.Services.Common.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.VisualStudio.Services.Common.dll"/>
        <File Name="Microsoft.VisualStudio.Services.WebApi.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.VisualStudio.Services.WebApi.dll"/>
        <File Name="Microsoft.WindowsAzure.Configuration.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.WindowsAzure.Configuration.dll"/>
        <File Name="Newtonsoft.Json.dll" Source="$(var.TestCaseAutomator.TargetDir)Newtonsoft.Json.dll"/>
        <File Name="System.IdentityModel.Tokens.Jwt.dll" Source="$(var.TestCaseAutomator.TargetDir)System.IdentityModel.Tokens.Jwt.dll"/>
        <File Name="System.Net.Http.Formatting.dll" Source="$(var.TestCaseAutomator.TargetDir)System.Net.Http.Formatting.dll"/>
        <File Name="System.Web.Http.dll" Source="$(var.TestCaseAutomator.TargetDir)System.Web.Http.dll"/>
        <File Name="Microsoft.WITDataStore32.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.WITDataStore32.dll"/>
        <File Name="Microsoft.WITDataStore64.dll" Source="$(var.TestCaseAutomator.TargetDir)Microsoft.WITDataStore64.dll"/>
      </Component>
    
    </ComponentGroup>
    
    <ComponentGroup Id="Plugins">
      
      <Component Id="xUnitPlugin" Guid="4F0314BD-D727-48CF-855D-6E91E0771044" Directory="xUnitPluginDir">
        <File Id="xUnitPluginMainDll" Name="$(var.Plugins.xUnit.AutomationProvider.TargetFileName)" Source="$(var.Plugins.xUnit.AutomationProvider.TargetPath)" KeyPath="yes"/>
        <File Id="xUnitCoreDll" Name="xunit.core.dll" Source="$(var.Plugins.xUnit.AutomationProvider.TargetDir)\xunit.core.dll"/>
        <File Id="xUnitAbstractionsDll" Name="xunit.abstractions.dll" Source="$(var.Plugins.xUnit.AutomationProvider.TargetDir)\xunit.abstractions.dll"/>
        <File Id="xUnitExecutionDesktopDll" Name="xunit.execution.desktop.dll" Source="$(var.Plugins.xUnit.AutomationProvider.TargetDir)\xunit.execution.desktop.dll"/>
        <File Id="xUnitRunnerDesktopDll" Name="xunit.runner.utility.desktop.dll" Source="$(var.Plugins.xUnit.AutomationProvider.TargetDir)\xunit.runner.utility.desktop.dll"/>
      </Component>

      <Component Id="NUnitPlugin" Guid="B06C24F0-6FFD-481C-AE31-E62C0E26A95F" Directory="NUnitPluginDir">
        <File Id="NUnitPluginMainDll" Name="$(var.Plugins.NUnit.AutomationProvider.TargetFileName)" Source="$(var.Plugins.NUnit.AutomationProvider.TargetPath)" KeyPath="yes"/>
        <File Id="NUnitCoreDll" Name="nunit.core.dll" Source="$(var.Plugins.NUnit.AutomationProvider.TargetDir)\nunit.core.dll"/>
        <File Id="NUnitCoreInterfacesDll" Name="nunit.core.interfaces.dll" Source="$(var.Plugins.NUnit.AutomationProvider.TargetDir)\nunit.core.interfaces.dll"/>
        <File Id="NUnitEngineApiDll" Name="nunit.engine.api.dll" Source="$(var.Plugins.NUnit.AutomationProvider.TargetDir)\nunit.engine.api.dll"/>
        <File Id="NUnitEngineDll" Name="nunit.engine.dll" Source="$(var.Plugins.NUnit.AutomationProvider.TargetDir)\nunit.engine.dll"/>
        <File Id="NUnitV2DriverDll" Name="nunit.v2.driver.dll" Source="$(var.Plugins.NUnit.AutomationProvider.TargetDir)\nunit.v2.driver.dll"/>
        <File Id="CecilDll" Name="Mono.Cecil.dll" Source="$(var.Plugins.NUnit.AutomationProvider.TargetDir)\Mono.Cecil.dll"/>
        <File Id="CecilMdbDll" Name="Mono.Cecil.Mdb.dll" Source="$(var.Plugins.NUnit.AutomationProvider.TargetDir)\Mono.Cecil.Mdb.dll"/>
        <File Id="CecilPdbDll" Name="Mono.Cecil.Pdb.dll" Source="$(var.Plugins.NUnit.AutomationProvider.TargetDir)\Mono.Cecil.Pdb.dll"/>
        <File Id="CecilRocksDll" Name="Mono.Cecil.Rocks.dll" Source="$(var.Plugins.NUnit.AutomationProvider.TargetDir)\Mono.Cecil.Rocks.dll"/>
      </Component>
    
      <!--<Component Id="MSTestPlugin" Guid="916F08F3-BA80-4962-AE10-04B5DCBD15FF">
        <File Id="MSTestPluginMainDll" Name="$(var.Plugins.MSTest.AutomationProvider.TargetFileName)" Source="$(var.Plugins.MSTest.AutomationProvider.TargetPath)" KeyPath="yes"/>
      </Component>-->
    </ComponentGroup>
  
    <ComponentGroup Id="CopyrightFiles" Directory="INSTALLDIR">
      <Component Id="License" Guid="9623DF1F-00F1-4A88-945D-BA0DBA1B3996">
        <File Id="LicenseFile" Name="LICENSE" Source="$(var.SolutionDir)LICENSE" KeyPath="yes"/>
      </Component>

      <Component Id="Notice" Guid="B5CA51DE-AF15-406F-A1DC-1F43B4F7AE9F">
        <File Id="NoticeFile" Name="NOTICE" Source="$(var.SolutionDir)NOTICE" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

  </Fragment>
</Wix>